<div [title]="'Кто ты по жизни'">{{_Heroname}}</div>
<input type="checkbox" id="partner" (change)="onToggle($event)">
<div class="container">Меню Поиска
  <div class="row">
    <div class="col-lg-3 col-sm-3">
      <input type="text"
             class="form-control"
             [(ngModel)]="origin"
             placeholder="Страна отбытия">
    </div>
    <div class="col-lg-3 col-sm-3">
      <input type="text"
             class="form-control"
             [(ngModel)]="destination"
             placeholder="Страна прибытия">
    </div>
    <div class="col-lg-3 col-sm-3">
      <input type="date"
             class="form-control"
             [(ngModel)]="departureDate"
             placeholder="Дата вылета">
    </div>
    <div class="col-lg-3 col-sm-3">
      <input type="date"
             class="form-control"
             [(ngModel)]="arrivalDate"
             placeholder="Дата прилета">
    </div>
  </div>
</div>
<div style="text-align: center">
  <input type="button"
         value="Найти"
         (click)="search($event.target.value)">
</div>
<button (click)="change(true)">+</button>
<button (click)="change(false)">-</button>
<!--<div *ngFor="let city of (cities | async)">{{city}}</div>-->
<!--<div *ngFor="let i of (this.cities$ | async)">{{i['name']}}</div>-->
