<div style="text-align: center">Поиск авиабилетов</div>
<!--<div class="container" *ngIf="true">-->
<!--  <div class="row">-->
<!--    <div class="col-lg-3 col-sm-3">Фильтры</div>-->
<!--    <div class="col-lg-9 col-sm-9">Список |Варианты полетов | Дешевый перелет-->
<!--      <div class="row" >-->
<!--        <div class="col-lg-3 col-sm-3">-->
<!--          <table>-->
<!--            <tr>-->
<!--              <td>-->
<!--                Цена:-->
<!--              </td>-->
<!--            </tr>-->
<!--          </table>-->
<!--        </div>-->
<!--        <div class="col-lg-9 col-sm-9">-->
<!--          <table>-->
<!--            <tr>-->
<!--              <td></td>-->
<!--              <td></td>-->
<!--              <td></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td></td>-->
<!--              <td></td>-->
<!--              <td></td>-->
<!--            </tr>-->
<!--          </table>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="container">Меню Поиска
  <div class="row">
    <div class="col-lg-3 col-sm-3">
      <input type="text"
             class="form-control"
             [(ngModel)]="origin"
             placeholder="Страна отбытия">
    </div>
    <div class="col-lg-3 col-sm-3">
      <input type="text"
             class="form-control"
             [(ngModel)]="destination"
             placeholder="Страна прибытия">
    </div>
    <div class="col-lg-3 col-sm-3">
      <input type="date"
             class="form-control"
             [(ngModel)]="departureDate"
             placeholder="Дата вылета">
    </div>
    <div class="col-lg-3 col-sm-3">
      <input type="date"
             class="form-control"
             [(ngModel)]="arrivalDate"
             placeholder="Дата прилета">
    </div>
  </div>
</div>
<div style="text-align: center">
  <input type="button"
         value="Найти"
         (click)="search($event.target.value)">
</div>
<!--<button (click)="change(true)">+</button>-->
<!--<button (click)="change(false)">-</button>-->

<!--&lt;!&ndash; TODO mobx&ndash;&gt;-->
<!--<button (click)="checkTest()">test mobx</button>-->
<!--<div *ngFor="let city of (initState | async)">{{city.name}}</div>-->

<!-- понять почему без async не работает-->
<!--<div>Число {{this.number | async}}</div>-->
<!--<div>Число {{this.number}}</div>-->
<!--<button (click)="addNumber()">+</button>-->

<!--<div *ngFor="let city of (cities | async)">{{city}}</div>-->
<!--<div *ngFor="let i of (this.cities$ | async)">{{i['name']}}</div>-->
